<p>delivery-details works!</p>
<h1>wht this is not wrking</h1>
<div class="productHolder" >
    <div class="card" *ngFor="let item of delivery1">
        <!-- <img src="{{item.image}}" alt="{{item.image}}" class="border-radius"> -->
        <div class="cardText">
            <p>this is pincode</p>
            <p class="categoryText">this is pincode {{item.pincode}}</p>
            <h2 class="brandText">this is country {{item.country}}</h2>
            <h5>⭐️⭐️⭐️⭐️⭐️</h5>
            <p class="pricetext">₹ {{item.city}}</p>
            <p class="offerText">{{item.deliver_time}}</p>
        </div>
    </div>
</div>
